.AppContainer {
  display: flex;
  height: 100vh;
}

.EmployeeSidebar {
  background-color: black;
  color: white;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.EmployeeList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employees {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.employees:hover {
  transform: scale(1.05);
}

.TableArea {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.RoundTable {
  position: relative;
}

.ChairsAroundTable {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 184px;
  height: 187px;
}

.chair {
  position: absolute;
}

.chair:nth-child(1) {
  top: 0;
  left: 50%;
  transform: translate(-160%, 10%) rotate(-45deg);




}

.chair:nth-child(2) {
  top: 50%;
  left: 100%;
  transform: translate(-140%, -110%)   rotate( 40deg);


}

.chair:nth-child(3) {
  top: 100%;
  left: 50%;
  transform: translate(40%, -100%) rotate(135deg);
}

.chair:nth-child(4) {
  top: 50%;
  left: 0;
  transform: translate(20%, 10%) rotate(220deg);
}

.chair img {
  max-width: 50px;
  transition: transform 0.2s;
}

.chair img:hover {
  transform: scale(1.1);
}

.isDragging {
  opacity: 0.7;
}

.draggingOver {
  background-color: rgba(0, 123, 255, 0.1);
}


svg{
  width: 120px;
  height: 200px;
}

.drop{
  padding: 0;
}

.bsImg{



  width: 50px;
}
.TableArea{

  background-color: #685169;

  display: flex;

  flex-direction: column;
}


.HallOfChairs{

  display: flex;

  flex-direction: column;
 


}


.FirstRow{

  display: flex;

  gap: 300px;
}



.SecondRow{

  display: flex;

  justify-content: center;
}

.ThirdRow{

  display: flex;

  gap: 300px;
}

.Screen{



border: solid 3px black;
height: 100px;
width: 700px;

  position: relative;

  bottom: 143px;

border-color: #000 #000 #000;
border-top-left-radius: 100px;
border-top-right-radius: 100px;

border-top-width: 40px

/* border-top-right-radius: 100px; */

}

.zoomable-content {
  width:180vh;
  height: 100vh;
  border: 1px solid#685169;
  background-color: #685169;
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
  /* overflow: hidden;  */
}

.TableGuestName{
  color: aliceblue;
}