





.employees{
  padding: 10px;
  text-align: left;
  border: 2px solid white;
  margin: 20px;
  cursor: pointer;
}

.employees:hover{
  transform: scale(1.1);
  transition: 0.1s;
}

.MainDropAreaZone{

  border: solid 3px ;


  background-color: rgb(106, 57, 57);

  border-radius: 1000px;


}


.Home{

  display: flex;
}